.homeContainer {
  @apply w-4/12  mx-auto p-2 bg-white max-h-max text-black rounded mt-8 flex flex-col items-center;

  h1 {
    @apply text-xl text-center pb-5 font-bold;
  }

  button {
    @apply bg-blue-600 py-2 px-4 rounded-full text-white m-1;
  }

  .videoContainer {
    @apply relative w-full h-96 overflow-hidden mb-3;
  }

  video {
    @apply w-full h-full object-cover rounded-lg;
    /* @media screen and (min-width: 360px) and (max-width: 700px) {
      width: 100px;
      height: 100px;
    } */
  }

  .enterRoom {
    @apply flex flex-col items-center w-full;

    input {
      @apply text-black text-lg p-1 rounded w-9/12 mb-3 border border-gray-500;
    }
  }

  .separatorText {
    @apply my-3 text-xl;
  }
  @media screen and (min-width: 360px) and (max-width: 950px) {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
